<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Promocoes</title>
  </head>
  <body>
    <form action="/promocoes" method="post">
      <div>
        <input type="text" name="mensagem" value=""/>
      </div>
        <div>
          <select name="produtos[id]">
              <%for(var i=0;i<lista.lenght;i++){%>
                <option value="<%=lista[i].id%>"><%=lista[i].titulo%></option>
              <%}%>
          </select>
        </div>
      <input type="submit" value="Cadastrar Promoção">
    </form>

  </body>
</html>
